.narrow-width {
	width: 80%;
	margin: 0 auto;
}

.utility-header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	z-index: 100;
	background-color: #82C5C3;
}

.utility-items {
	height: 45px;
	float: right;
	margin: 0; 
	padding: 0;
}

.utility-item {
	height: 45px;
	float: left;
}

.utility-item-inner {
	display: block;
	height: 45px;
	padding: 0 20px;
	padding-top: 10px;
}

.utility-icon > i,
.utility-text {
	color: white;
}

.utility-text {
	text-transform: uppercase;
	font-size: 0.6em;
}

.header-nav-container {
	height: 155px;
	margin-top: 45px;
}

.industry-nav {
	height: 55px;
	float: right;
	display: inline-block;
	margin-top: 45px;
	border-bottom: 1px solid gray;
}

.industry-nav-items,
.primary-nav-items {
	list-style-type: none;
}

.industry-nav-item {
	float: right;
	margin: 25px 10px 20px 20px;
	font-size: 0.75em;
}

.industry-nav-items:last-child {
	margin-left: 100px;
}

.industry-nav-item,
.primary-nav-item {
	text-transform: uppercase;
}

.primary-nav {
	height: 55px;
	float: right;
	display: inline-block;
}

.primary-nav-item {
	float: right;
}

