.utility-header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	z-index: 100;
	background-color: #82C5C3;
}

.utility-items {
	height: 45px;
	float: right;
	margin: 0 20% 0 0; 
	padding: 0;
}

.utility-item {
	height: 45px;
	float: left;
}

.utility-item-inner {
	display: block;
	height: 45px;
	padding: 0 20px;
	padding-top: 10px;
}

.utility-icon > i,
.utility-text {
	color: white;
}

.utility-text {
	text-transform: uppercase;
}
